/*RESET*/
*{
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: rgba(6, 80, 80, 0.933);
}

h1,h2,h3,h4,p,ul {
    margin-top: 0;
    margin-bottom: 0;
    
}

.form {
    display: flex;
    justify-content: center;
    width: 100%;
}

button {
    /* display: block; */
    border: none;
    background-color: #21130d;
    color: white;
}
ul {
    padding-left: 0;
    list-style: none;
}

img {
    display: block;
    width: 100%;
}



input {
    outline: none;
    cursor: pointer;
    width: 70%;
    background-color: #4b4b4b;
    
}

